@model Product
@{
    ViewData["Title"] = "Detalhes do Produto";
}
<h3>@ViewData["Title"]</h3>
<hr />

<div>
    <div class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>&nbsp;&nbsp;
    <a asp-action="Index">Voltar</a>
</div>