@model IEnumerable<Exchange>
@{
    ViewData["Title"] = "Lançamentos Câmbio";
}

<br />
<br />
<br />
<h1 class="card-title text-center">@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-default">Novo Lançamento</a>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <td>@Html.DisplayNameFor(model => model.Date)</td>
            <td>@Html.DisplayNameFor(model => model.Advisor.Name) </td>
            <td>@Html.DisplayNameFor(model => model.Currency)</td>
            <td>@Html.DisplayNameFor(model => model.GrossValue)</td>
            <td>@Html.DisplayNameFor(model => model.Value)</td>
            <td>@Html.DisplayNameFor(model => model.Cotation)</td>
            <td>@Html.DisplayNameFor(model => model.ComissionType)</td>
            <td>@Html.DisplayNameFor(model => model.Spread)</td>
            <td>@Html.DisplayNameFor(model => model.Comission)</td>
            <td>@Html.DisplayNameFor(model => model.NetValue)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Date)</td>
                <td>@Html.DisplayFor(x => item.Advisor.Name)</td>
                <td>@Html.DisplayFor(x => item.Currency)</td>
                <td>@Html.DisplayFor(x => item.GrossValue)</td>
                <td>@Html.DisplayFor(x => item.Value) </td>
                <td>@Html.DisplayFor(x => item.Cotation) </td>
                <td>@Html.DisplayFor(x => item.ComissionType) </td>
                <td>@Html.DisplayFor(x => item.Spread)</td>
                <td>@Html.DisplayFor(x => item.Comission)</td>
                <td>@Html.DisplayFor(x => item.NetValue)</td>
            </tr>
        }

    </tbody>
</table>